<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Send data to the server using Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CCF003A1C9C080500DAEBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CCF004E1C9C080700DAEBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CCF00591C9C080700DAEBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
